@font-face {
      font-family: myFirstFont;
      src: url(../../../../public/fonts/Satisfy-Regular.ttf);
   
    }
@font-face {
      font-family: mySecoundFont;
      src: url(../../../../public/fonts/Poppins-Regular.ttf);
}
*{
      padding: 0;
      margin: 0;
}
body{
      font-family: mySecoundFont ;
}
.navbar2{
      padding-top: 40px;
      top:20px !important;
      padding-inline: 100px !important;
     
    
}
.nav-button {
      background: #ffb03b;
      color: #fff;
      border-radius: 50px;
      margin: 0 0 0 20px;
      padding: 10px 25px;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 1px;
      transition: 0.3s;
      white-space: nowrap;
    }
    .link{
      width: 100%;
      justify-content: end;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
      font-family: myFirstFont , sans-serif;
   
    }
    .logo h1 {
   
      a{
            text-decoration: none;
            color: white;
            font-size: 20px;
               font-family: myFirstFont , sans-serif;
    
      font-size: 29px;
      margin: 0;
      line-height: 1;
      font-weight: 500;
      letter-spacing: 3px;
      }
    }
.links1{
      display: flex;
      gap: 18px;
}
.link-inside{
      font-size: 16px;
      color: white !important;
      font-weight: 500;
      
}

.background-slide-1,
.background-slide-2,
.background-slide-3{
      background-image: url(../../../../public/images/slide/slide-1.jpg);
      width: 100%;
      height: 100vh; filter: brightness(45%);
}
.background-slide-2{
      background-image: url(../../../../public/images/slide/slide-2.jpg);
}
.background-slide-3{
      background-image: url(../../../../public/images/slide/slide-3.jpg);
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.filter-b{
      filter: brightness(48%);
}
.btn-menu ,
.btn-book {
      text-decoration: none;
      font-weight: 600;
      font-size: 13px;
      letter-spacing: 1px;
      text-transform: uppercase;
      display: inline-block;
      padding: 17px 35px;
      border-radius: 50px;
      transition: 0.6s;
      line-height: 1;
      margin: 0 10px;
      animation-delay: 0.3s;
      color: #fff;
      border: 3px solid #ffb03b;
}
.btn-menu:hover,
.btn-book:hover {
      background: #ffb03b;
      color: #fff;}
.slide-text1,
.slide-text2,
.slide-text3
{
            transform: translate(0,-25%);   
      text-align: center; 
      display: flex !important;
      flex-direction: column;
      gap: 20px;
 }
 .slide-text1,
 .slide-text2,
 .slide-text3
 {
      
      h2{
            font-size: 50px !important;
            font-weight: 600 !important;
            span{
                  color: #ffb03b;
                  font-weight: 600 !important;
            }
      }
      p{
            font-size: 20px !important;
            font-weight: 500;
      }

}








@-webkit-keyframes slide-in-top {
      0% {
        -webkit-transform: translateY(-1000px);
                transform: translateY(-1000px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
      }
    }
    @keyframes slide-in-top {
      0% {
        -webkit-transform: translateY(-1000px);
                transform: translateY(-1000px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
      }
    }
    